#home {
    display: flex;
    min-width: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 0px 50px;
}

#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
}
#cta .title span{
    color: #e9a209;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 70%;
    z-index: 2;
}
#banner img{
    height: auto;
    width: 70%;
}
.shape {
    background-color: #ffe8b4;
    width: 60%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}
@media screen and (max-width: 1170px){
    #home {
        display: flex;
        min-width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    #cta {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 28px;
    }
    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

}


@media screen and (max-width: 450px){
    #home {
        display: flex;
        min-width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    #cta {
        width: 100%;
        display: flex;
        margin: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 28px;
    }
    
    #cta .title {
        font-size: 3rem;
        text-align: center;
        color: #1d1d1d;
    }
    #cta .title span{
        color: #e9a209;
    }
    
    #cta .description {
        font-size: 1.2rem;
        text-align: center;
    }
    
    #cta_buttons {
        display: flex;
        gap: 24px;
    }
    
    #cta_buttons a {
        text-decoration: none;
        color: #1d1d1d;
    }
    
    #phone_button {
        display: flex;
        gap: 8px;
        align-items: center;
        background-color: #ffff;
        padding: 8px 14px;
        font-weight: 500;
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
}